{{/* Template modified from the original Docsy theme template, to list section ToC in cards */}}
{{/* This template is intended for up to 4 levels: headings L1-L3, and L4 pages */}}
{{/* If on a section (L1 & L2) we list child sections & subsections; if on a subsection (L3) we list child pages */}}
<div class="section-index">
  {{ $page := .Page -}}
  {{ $pages := (where .Site.Pages "Section" .Section).ByWeight -}}
  {{ $pages = (where $pages "Type" "!=" "search") }}
  {{ $pages = (where $pages ".Params.hide_summary" "!=" true) -}}
  {{ $pages = (where $pages ".Parent" "!=" nil) -}}
  {{ $pages = (where $pages ".Parent.File" "!=" nil) -}}
  {{ $pages = (where $pages ".Params.show_card" "ne" false) -}}

  {{ if .Page.Sections -}}
  {{ $seclevel := "" }}
  {{ $hasSubsections := false }}
  {{ range .Sections }}
  {{ if gt (len .Sections) 0 }}
  {{ $hasSubsections = true }}
  {{ end }}
  {{ end }}

  {{ if $page.File -}}
  {{ $pages = (where $pages "Parent.File.UniqueID" "==" $page.File.UniqueID) -}}
  {{ end -}}
  {{ if or $page.Params.no_list (eq (len $pages) 0) -}}

  {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
  {{ else if $page.Params.simple_list -}}
  <ul>
    {{ range $pages -}}
    {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref")
    (relref . .Params.manualLinkRelref) .RelPermalink) }}
    <li><a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
        .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end }}>{{- .Params.cardTitle | default .Title -}}</a></li>
    {{ end -}}
  </ul>
  {{ else -}}

  {{/* Otherwise show sections, subsections & pages in headings & cards */}}

  {{ if $hasSubsections }}

  {{ range $pages -}}
  {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref")
  (relref . .Params.manualLinkRelref) .RelPermalink) -}}
  <div class="td-content">
    <h2><a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
        .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{end}}>{{- .Params.cardTitle | default .Title
        -}}</a></h2>
  </div>

  {{ if .Description -}}
  <div class="td-content">
    <p>{{ .Description | markdownify -}}</p>
  </div>
  {{ end -}}

  {{/* L3 subsection header */}}
  <div class="td-card card border me-4">    
    {{ if eq (len .Sections) 0 }}
    {{ $filteredInner := (where .Pages ".Params.show_card" "ne" false) }}
    {{ if ge (len $filteredInner) 1 }}
    <div class="card">
      <div class="card-header">
        In this section:
      </div>
      <div class="card-body">
        <div class="td-content">
          
          {{ range $filteredInner -}}
          {{ if not .Page.IsNode -}} {{/* if 1 level under current page */}}
          
          <inl>
            <a href="{{ .Page.Permalink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
              .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{end}}>{{-
              .Params.cardTitle | default .Title -}}</a>
          </inl>
          {{ end -}}
          {{ end -}}

        </div>
      </div>
      {{ end -}}
    </div>

    {{ end }}

    <div class="card-columns">
      <div class="entry">

        {{/* Lists subsections within the card body, after the description */}}
        {{ range (where .Page.Sections ".Params.show_card" "ne" false) -}}
        {{ if .Page.Section -}}
        {{ $manualsubsecLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params
        "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) -}}

        {{/* begin L3 card */}}
        <div class="card">
          <div class="card-header">            
            <a href="{{ $manualsubsecLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
              .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{end}}>{{-
              .Params.cardTitle | default .Title -}}</a>
          </div>
          <div class="card-body">
            {{ if .Description -}}
            <p>
              <inl>{{ .Description | markdownify -}}</inl>
            </p>
            {{ end -}}
            <ul class="td-section-list">
              {{ range (where .Pages ".Params.show_card" "ne" false) -}}              
              {{ $manualpageLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params
              "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) -}}
              <li>                
                <a href="{{ $manualpageLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
                  .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end
                  }}{{end}}>{{- .Params.cardTitle | default .Title -}}</a>
              </li>
              {{ end -}}
              {{ end -}}
            </ul>
            <p></p>
          </div>
        </div>

        {{ end -}}
      </div>
    </div>
  </div>
  {{ end -}}
  {{ end -}}
</div>
</div>
{{/* end L3 card */}}
{{ end -}}

{{ if eq (len .Ancestors) 2 }}
{{ $seclevel := "2" }}

{{ if not $hasSubsections }}

<div class="td-card card border me-4">
  <div class="card-columns">
    <div class="entry">
      {{ range (where .Pages ".Params.show_card" "ne" false) -}}
      {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref")
      (relref . .Params.manualLinkRelref) .RelPermalink) -}}

      <div class="card">
        <div class="card-header">
          <a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
            .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end }}>{{-
            .Params.cardTitle | default .Title -}}</a>
        </div>
        <div class="card-body">

          {{ if .Description -}}
          <p>
            <inl>{{ .Description | markdownify -}}</inl>
          </p>
          {{ end -}}

          <ul class="td-section-list">
            {{ range (where .Pages ".Params.show_card" "!=" false) -}}
            {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params
            "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) -}}
            <li>
              <a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
                .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end
                }}>{{- .Params.cardTitle | default .Title -}}</a>
            </li>
            {{ end -}}
          </ul>
        </div>
      </div>

      {{ end -}}
    </div>
  </div>
</div>
</div>
</div>
</div>
{{ end -}}
{{ end -}}
{{ end -}}

{{/* card with pages only (if no subsections) */}}
{{ if not .Page.Sections -}}

{{ if not $page.Params.no_list -}}

<div class="entry">
  <div class="td-card card border me-4">
    <div class="card">
      <div class="card-header">
        In this section:
      </div>
      <div class="card-body">

        {{ if .Description -}}
        <p>
          <inl>{{ .Description | markdownify -}}</inl>
        </p>
        {{ end -}}

        <ul class="td-section-list">
          {{ range (where .Pages ".Params.show_card" "ne" false) -}}
          {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params
          "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) -}}

          <li>
            <a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
              .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end }}>{{- .Params.cardTitle | default .Title -}}</a>
          </li>

          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}