/**
* This file defines all the styles that need to change between dark and light modes
*/

@import "code/_chroma_light";
@import "code/_chroma_dark";

// ****************** Dark mode ****************** 
@include color-mode(dark) {

  --background-color: #222431;

  --headings-color: #FFF;
  --body-color: #C4CDD5;
  --body-disabled-color: #878F95;
  --link-color: #58D2FF;
  --link-hover-color: #7CDCFF;

  --border-color: #40435C;

  --card-background-color: #40435C;
  --card-border-color: #40435C;  
  --card-titles-font-color: #58D2FF;

  --breadcrumb-icon-color: #1393C2;

  --alert-info-border-color: #80B2FF;
  --alert-info-font-color: #F2F7FF;  
  --alert-info-background-color: #0D2A57;
  --alert-info-icon-color: #80B2FF;

  --alert-warning-border-color: #FF6E1F;
  --alert-warning-font-color: #FFF0E8;  
  --alert-warning-background-color: #461900;
  --alert-warning-icon-color: #FF6E1F;

  --alert-danger-border-color: #FF5779;
  --alert-danger-font-color: #FFEAEE;  
  --alert-danger-background-color: #290008;
  --alert-danger-icon-color: #FF5779;

  --alert-tip-border-color: #2FB8EB;
  --alert-tip-font-color: #EAF9FF;  
  --alert-tip-background-color: #003447;
  --alert-tip-icon-color: #7CDCFF;

  --footer-background-color: var(--background-color);
  --footer-linkicon-color: #FFF;

  --scrollbar-color: #40435C;

  --sidebar-title-color: #F5F7F9;
  --sidebar-hover-color: #7CDCFF;
  --sidebar-note-badge-border-color: #58D2FF;
  --sidebar-note-badge-background-color: #003447;

  --table-background-color: #2A2D3D;
  --table-border-color: #40435C;
  --table-code-border-color: transparent;
  --table-code-background-color: #40435C;

  --blockquote-border-color: #7CDCFF;

  --code-background-color: #40435C;
  --code-background-default-color: #474954;
  --code-border-color: #2A2D3D;
  --code-border-default-color: #2A2D3D;

  --copy-button-color: #40435C;
  --copy-button-color-hover: #878F95;
  --copy-button-border-color: #40435C;
  --copy-button-background-color: #2A2D3D;

  --feedback-button-background-color: #F5F7F9;
  --feedback-button-color: #575C5B;
  --feedback-button-border-color: #E0E4E7;

  --image-shadow-color: #0000001A;
  
  --tab-background-color: #212B3630;
  --tab-link-selected-color: #58D2FF;
  --tab-link-hover-background-color: #2A2D3D;
  --tab-link-hover-color: #7CDCFF;

  --search-highlight: #007BFF59;

  // Display light logo
  .logo-light { 
    display: none;
  }
  .logo-dark { 
    display: block; 
  }

  // Main component
  .td-main {
    background-color: var(--background-color);
  }

}

// ****************** Light mode ****************** 
@include color-mode(light) {

  --background-color: #FFF;

  --headings-color: #40435C;
  --body-color: #637381;
  --body-disabled-color: #B2B9BE;
  --link-color: #1393C2;
  --link-hover-color: #007099;

  --border-color: #DEE2E6;

  --card-background-color: #F5F7F9;
  --card-border-color: #E0E4E7;  
  --card-titles-font-color: #1393C2;

  --breadcrumb-icon-color: #1393C2;

  --alert-info-border-color: #1B4079;
  --alert-info-font-color: #1B4079;  
  --alert-info-background-color: #F2F7FF;
  --alert-info-icon-color: #1B4079;

  --alert-warning-border-color: #FF6E1F;
  --alert-warning-font-color: #AD3D00;  
  --alert-warning-background-color: #FFF0E8;
  --alert-warning-icon-color: #FF6E1F;

  --alert-danger-border-color: #FF5779;
  --alert-danger-font-color: #FF5779;  
  --alert-danger-background-color: #FFEAEE;
  --alert-danger-icon-color: #FF5779;

  --alert-tip-border-color: #2FB8EB;
  --alert-tip-font-color: #007099;  
  --alert-tip-background-color: #EAF9FF;
  --alert-tip-icon-color: #007099;

  --footer-background-color: var(--background-color);
  --footer-linkicon-color: #007099;

  --scrollbar-color: #E0E4E7;

  --sidebar-title-color: #40435C;
  --sidebar-hover-color: #1393C2;
  --sidebar-version-color: #B2B9BE;
  --sidebar-note-badge-border-color: #4fafd3;
  --sidebar-note-badge-background-color: #eafaff;

  --table-background-color: #FFF;
  --table-border-color: #E0E4E7;
  --table-code-border-color: #E0E4E7;
  --table-code-background-color: #FFF;

  --blockquote-border-color: #30638E;

  --code-background-color: #F5F7F9;
  --code-background-default-color: #FFF;
  --code-border-color: #E0E4E7;
  --code-border-default-color: #C4CDD5;

  --copy-button-color: #B2B9BE;
  --copy-button-color-hover: #737B81;
  --copy-button-border-color: #E0E4E7;
  --copy-button-background-color: #FFF;

  --feedback-button-background-color: #F5F7F9;
  --feedback-button-color: #575C5B;
  --feedback-button-border-color: #E0E4E7;
  
  --image-shadow-color: #0000001A;

  --tab-background-color: #F8F9FA;
  --tab-link-selected-color: #007099;
  --tab-link-hover-background-color: #EAF9FF;
  --tab-link-hover-color: #1393C2;

  --search-highlight: #FFEF3E;

  // Display light logo
  .logo-light { 
    display: block; 
  }
  .logo-dark { display: none; }

  // Main component
  .td-main {
    background-color: var(--background-color);
  }

}
