.one-footer-main-container {
  @include media-breakpoint-up(lg) {
    min-height: 355px;
  }
}

@media (min-width: 992px) {
    @supports (position: sticky) {
        .td-sidebar-menu {
            height: calc(100vh - 64px);
        }

        .td-sidebar-nav.td-sidebar-nav--search-disabled {
            max-height: none;
        }
    }
}




.td-sidebar {
  padding-left: 10px;

  @include media-breakpoint-up(xxl) {
    padding-left: 32px;
  }
}


.td-sidebar-nav__section-title.td-sidebar-nav__section.with-child {
  padding-left: 14px;
  
  @include media-breakpoint-up(xl) {
    padding-left: 20px;
  }
}

#td-sidebar-menu .sidebar-note {
  @include media-breakpoint-up(xl) {
    padding-left: 0px;

    .sidebar-note__line {
      padding-left: 10px;
    }

    &::before {
      left: -10px;
      left: 10px;
    }
  }

  @include media-breakpoint-up(xxl) {
    .sidebar-note__line {
      padding-left: 0;
    }

    &::before {
      left: -10px;
      right: 10px;
    }
  }
}

.td-sidebar-nav__section-title.td-sidebar-nav__section.without-child {
  padding-left: 14px;
  
  @include media-breakpoint-up(xl) {
    padding-left: 20px;
  }
}
